<div id="panel_examview" class="row mt" style="">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="#!exam/1/question_create" class="btn btn-compose">
                            <i class="fa fa-plus"></i>  Create Question
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                        	<!-- {{#questiongroup}}
	                            <li><a href="#"> <i class="fa fa-trash-o"></i> {{Name}} <span class="label label-theme pull-right inbox-notification">{{count}}</span> </a></li>
                        	{{/questiongroup}} -->
                            <li class="active"><a href="#!exam/1"> <i class="fa fa-inbox"></i> All  <span class="label label-theme pull-right inbox-notification">3</span></a></li>
                            <li><a href="#!exam/1"> <i class="fa fa-envelope-o"></i> Knowledge </a></li>
                            <li><a href="#!exam/1"> <i class="fa fa-exclamation-circle"></i> Comprehension</a></li>
                            <li><a href="#!exam/1"> <i class="fa fa-file-text-o"></i> Application <span class="label label-info pull-right inbox-notification">8</span></a></li>
                            <li><a href="#!exam/1"> <i class="fa fa-envelope-o"></i> Analysis </a></li>
                            <li><a href="#!exam/1"> <i class="fa fa-envelope-o"></i> Synthesis </a></li>
                            <li><a href="#!exam/1"> <i class="fa fa-check"></i> Evaluation</a></li>
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">

                            <li> <h4>Students Enrolled</h4> </li>
                            <li> <a href="#"> <img src="images/friends/fr-10.jpg" class="img-circle" width="20">Laura <p><span class="label label-success">Available</span></p></a></li>
                            <li> <a href="#"> <img src="images/friends/fr-05.jpg" class="img-circle" width="20">David <p><span class="label label-danger"> Busy</span></p></a></li>
                            <li> <a href="#"> <img src="images/friends/fr-01.jpg" class="img-circle" width="20">Mark <p>Offline</p></a></li>
                            <li> <a href="#"> <img src="images/friends/fr-03.jpg" class="img-circle" width="20">Phillip <p>Offline</p></a></li>
                            <li> <a href="#"> <img src="images/friends/fr-02.jpg" class="img-circle" width="20">Joshua <p>Offline</p></a></li>
                        </ul>
                        <a> + Add More</a>

                        <div class="inbox-body text-center inbox-action">
                            <div class="btn-group">
                                <a class="btn mini btn-default" href="javascript:;">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn mini btn-default" href="javascript:;">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                       <h4 class="gen-case"><%if (name) { %> <%= name %> <% } else { %> Untitled Exam <% } %>
                        <form action="#" class="pull-right mail-src-position">
                            <div class="input-append">
                                <input type="text" class="form-control " placeholder="Search Questions">
                            </div>
                        </form>
                       </h4>
                    </header>
                    <div class="panel-body minimal">
                        <div class="mail-option">
                            <div class="chk-all">
                                <div class="pull-left mail-checkbox">
                                    <input type="checkbox" class="">
                                </div>

                                <div class="btn-group">
                                    <a data-toggle="dropdown" href="#" class="btn mini all">
                                        All
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"> Knowledge</a></li>
                                        <li><a href="#"> Comprehension</a></li>
                                        <li><a href="#"> Application</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="btn-group">
                                <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                                    <i class=" fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="btn-group hidden-phone">
                                <a data-toggle="dropdown" href="#" class="btn mini blue">
                                    More
                                    <i class="fa fa-angle-down "></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="#" class="btn mini blue">
                                    Move to
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a data-original-title="Add New" data-placement="top" class="btn mini tooltips js-newquestion">
                                    <i class=" fa fa-plus"></i> Add New Question
                                </a>
                            </div>
                            <ul class="unstyled inbox-pagination">
                                <li><span>1-50 of 99</span></li>
                                <li>
                                    <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                                </li>
                                <li>
                                    <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="table-inbox-wrap ">
                            <table class="table table-inbox table-hover">
                        <tbody class="js-questionlist">

                        </tbody>
                        </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>

</div><!-- /col-lg-9 END SECTION MIDDLE -->