<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->

<!-- sidebar menu start-->
<ul class="sidebar-menu js-sidebar-menu" id="nav-accordion">

	<p class="centered"><a href="profile.html"><img src="" class="img-circle" style="background-color:gray;" width="80"></a></p>
	<h5 class="centered">Teach App</h5>

	<li class="mt">
		<a class="active" href="#!">
			<i class="fa fa-dashboard"></i>
			<span>Dashboard</span>
		</a>
	</li>
	<li class="sub-menu js-testlist">
		
	</li>
	<li class="sub-menu">
		<a href="#!questions" >
			<i class="fa fa-tasks"></i>
			<span>Questions</span>
		</a>
		<ul class="sub">
			<li><a  href="#!questions">All</a></li>
			<li><a  href="#!questions">Knowledge</a></li>
			<li><a  href="#!questions/2">Comprehension</a></li>
			<li><a  href="#!questions/3">Application</a></li>
			<li><a  href="#!questions/4">Analysis</a></li>
			<li><a  href="#!questions/5">Synthesis</a></li>
			<li><a  href="#!questions/6">Evaluation</a></li>
		</ul>
	</li>

	<li class="sub-menu">
		<a href="javascript:;" >
			<i class=" fa fa-bar-chart-o"></i>
			<span>Charts &amp; Data</span>
		</a>
		<ul class="sub">
			<li><a  href="morris.html">Morris</a></li>
			<li><a  href="chartjs.html">Chartjs</a></li>
			<li><a  href="flot_chart.html">Flot Charts</a></li>
			<li><a  href="xchart.html">xChart</a></li>
		</ul>
	</li>
	<li class="sub-menu">
		<a href="javascript:;" >
			<i class="fa fa-cogs"></i>
			<span>Settings</span>
		</a>
		<ul class="sub">
			<li><a  href="grids.html">Grids</a></li>
			<li><a  href="calendar.html">Calendar</a></li>
			<li><a  href="gallery.html">Gallery</a></li>
			<li><a  href="todo_list.html">Todo List</a></li>
			<li><a  href="dropzone.html">Dropzone File Upload</a></li>
			<li><a  href="inline_editor.html">Inline Editor</a></li>
			<li><a  href="file_upload.html">Multiple File Upload</a></li>
		</ul>
	</li>


</ul>
<!-- sidebar menu end-->

<!--sidebar end-->